* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(https://images.unsplash.com/photo-1504704911898-68304a7d2807?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-repeat: no-repeat;
  background-size: 100%;


  .main-content {
    background-color: rgba(0, 0, 0, 0.508);
    // opacity: 0.2;
    height: auto;
    margin: 5em auto;
    width: 25em;
    padding: 1em 1em;
    border-radius: 5px;

    h1 {
      padding: 0.1em 0;
      color: rgba(255, 255, 255, 0.855);
    }

    .drum-pad-parents {
      height: auto;
      padding: 1em;


      .drum-pad {
        width: 100px;
        height: 80px;
        margin-right: 10px;
        margin-top: 2px;
        background-color: rgba(214, 77, 232, 0.9);
        border-radius: 5px;
        padding-top: 30px;
        box-sizing: border-box;
        cursor: pointer;

        // opacity: 0.9;
        &:hover {
          color: white;
          opacity: 0.8;
        }
      }


      #display {
        padding: 11px;
        background-color: rgba(0, 0, 0, 0.72);
        width: 10em;
        height: 3em;
        margin: 1em auto;
        color: white;
        font-weight: bold;
      }
    }

  }
}

@media only screen and (max-width: 768px) {

  body {
    background-repeat: no-repeat;
    background-size: 100% 110%;

    .main-content {
      margin: 10em auto;
    }
  }
}